QDMNodeContentWidget { background: transparent; }
QDMNodeContentWidget QLabel { color: #e0e0e0;  }
QGraphicsView { selection-background-color: rgb(255, 255, 255); }
QDMTextEdit {
    background-color: #232629;
	color: #EFF0F1;
    border: 1px solid #31363B;
    border-radius: 4px; }